/*/////////////////////////// DEFAULT SETTINGS ///////////////////////////*/

/*//////////// BACKGROUND ////////////*/

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background: rgb(4, 25, 140);
    background: -moz-linear-gradient(159deg, rgba(4, 25, 140, 1) 0%, rgba(4, 63, 140, 1) 23%, rgba(126, 63, 127, 1) 54%, rgba(233, 84, 114, 1) 79%, rgba(246, 106, 79, 1) 99%);
    background: -webkit-linear-gradient(159deg, rgba(4, 25, 140, 1) 0%, rgba(4, 63, 140, 1) 23%, rgba(126, 63, 127, 1) 54%, rgba(233, 84, 114, 1) 79%, rgba(246, 106, 79, 1) 99%);
    background: linear-gradient(159deg, rgba(4, 25, 140, 1) 0%, rgba(4, 63, 140, 1) 23%, rgba(126, 63, 127, 1) 54%, rgba(233, 84, 114, 1) 79%, rgba(246, 106, 79, 1) 99%);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

/*/////////////////////////// STYLING THE WEBSITE ///////////////////////////*/


/*/////////////////////////// LOGIN PAGE ///////////////////////////*/

body#login-body {
    padding: 2%;
}

h1.birmovanci-title {
    font-weight: 800;
    color: white;
    font-size: 90;
}

img.logos {
    width: 48%;
    max-width: 100%;
    height: auto;
    margin: 40px 0px 0px 150px;
}

.form {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    border-radius: 25px;
    background-color: white;
    padding: 5%;
}

h3.prihlasenie {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30;
    color: #E95570;
    text-align: center;
    margin: 20px 0;
}

input.login-name,
input.login-password {
    padding: 7%;
    border-radius: 50px;
    margin: 10px 0;
}

.login-btn {
    width: 100%;
    background-color: #E95570;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 25;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-color: #E95570;
}

.login-btn:hover {
    background-color: #001065;
    border-color: #001065;
}

#wrong-div {
    margin: 40px auto 0 auto;
    padding: 5px;
    background-color: pink;
    border: 3px solid red;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    justify-content: center;
}

#wrong-p {
    text-align: center;
    font-size: 20px;
    display: inline;
}


/*/////////////////////////// MEDIA QUERIES ///////////////////////////*/

@media all and (max-width: 720px) {
    img.logos {
        display: none;
    }
}





.logout-btn {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.input {
    width: 100%;
}

input[type=submit] {
    text-align: center;
}

[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}

#event_img_label {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}
